/***** Font ******/
@font-face {
	font-family: "Agrandir";
	src: url("assets/fonts/Agrandir/Agrandir-WideBold.woff") format("woff");
}

@font-face {
	font-family: "Graphik-Regular";
	src: url("assets/fonts/Graphik/Graphik-Regular.woff") format("woff");
}

@font-face {
	font-family: "Graphik-Medium";
	src: url("assets/fonts/Graphik/Graphik-Medium.woff") format("woff");
}

h1, h2, h3 {
	font-family: "Agrandir";
	font-size: 24px !important;
}

h1 {
	font-family: "Agrandir";
	font-size: 48px !important;
}

p, h4, li, a {
	font-family: "Graphik-Regular";
	font-size: 17px;
}

p.med {
	font-family: "Graphik-Medium";
	font-size: 17px;
	line-height: 27px;
}

p {
	font-size: 17px;
	line-height: 27px;
}

h4 {
	font-size: 19px !important
}


.see-all {
	display: inline;
	padding-left: 24px;
}

/***** Margins ******/
.mt-176 {
	margin-top: 11rem;
}

.mt-112 {
	margin-top: 7rem;
}

.mb-80 {
	margin-bottom: 5rem;
}

.mb-64 {
	margin-bottom: 4rem;
}

.mb-48 {
	margin-bottom: 3rem;
}

/***** Column / Grid / Full Page******/
* {
	background-color: #FCFCFC !important;
}

a {
	text-decoration: none !important;
	cursor: pointer;
	color: black !important;
	transition: .5s;
}

a p:hover, p>a:hover, a:hover, h4.see-all:hover {
	color: #B7410E !important;
	transition: .5s;
	font-weight: bold;
}

.copyright {
	text-align: right
}

.footer-links > div {
	padding-right: 0;
}

li:before {
	content: '•';
	margin-left: -20px;
	margin-right: 10px;
}

ul:not(#main-menu > ul) {
	list-style: none;
}

#main-menu > ul > li:before {
	content: none;
}

/***** Nav bar ******/
#main-menu {
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 5;
	width: 100%;
	padding: 0 7vw;
	top: -14px;
}

.closebtn {
	display: none;
	margin-top: 13px !important;
	font-size: 54px;
}

.nav-wrap {
	position: absolute;
	top: 0;
}

#main-menu > .nav-left, #main-menu > .nav-left > li, #main-menu > .nav-left > li a {
	padding-left: 0;
}

#main-menu > * {
	list-style: none;
	margin-top: 40px;
}

#main-menu > * li {
	display: inline;
	padding: 0 20px;
}

#main-menu > * li a {
	text-decoration: none;
	padding-left: 25px;
	color: black;
}

#hamburger-bar {
	display: none;
	padding-top: 14px;
	cursor: pointer
}

#hamburger-bar > img {
	width: 27px;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	top: 65px;
	left: 0;
	background-color: #FCFCFC !important;
	overflow-y: hidden;
	transition: 1.0s;
	z-index: 10;
}

.overlay-content {
	position: relative;
	top: 16%;
	width: 100%;
	text-align: center;
}

.overlay a {
	padding: 10px;
	text-decoration: none;
	font-size: 40px;
	color: black;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: black;
}

.overlay .closebtn {
	position: absolute;
	top: 0px;
	right: 8vw;
	font-size: 70px;
}

@media (min-width:1171px) and (max-width:1350px) {
	#main-menu {
		padding: 0 4vw;
	}

}

/* Nav Bar Responsiveness */
@media (max-width:1170px) {
	#main-menu .nav-right, #main-menu .nav-center {
		display: none;
	}

	#hamburger-bar {
		display: block;
		margin-top: 23px;
	}

	/***** Column / Grid ******/
	body {
		margin: 0 90px !important;
		width: auto;
	}

	#main-menu {
		width: 100%;
		padding: 0 75px;
		top: -14px;
		left: 0;
	}

}

@media (min-width:577px) and (max-width:705px) {
	#main-menu {
		width: 100%;
		padding: 0 45px;
		top: -14px;
		left: 0;
	}

}

/***** Home Page  ******/
.category > * {
	display: inline;
}

.category > p {
	padding-left: 24px;
}

.box {
	height: auto;
	filter: drop-shadow(1px 7px 20px rgba(0, 0, 0, 0.1));
	margin-top: 32px;
	background-color: #b74110 !important;
	position: relative;
	width: 100%;
	padding-top: 69.25%;
}

.box img {
	width: 100%;
	height: -webkit-fill-available;
	object-fit: cover;
	overflow: hidden;
	transition: .4s;
	position: absolute;
	top: 0;
}

.box-title {
	padding-top: 16px;
}

.box img:hover {
	transform: translate(10px, 10px);
	transition: .4s;
	box-shadow: 1px 7px 18px rgb(0 0 0 / 9%);
	background-color: white;
}



/***** Project Pages  ******/

.project-title, .project-role {
	text-transform: uppercase;
}

.project-role {
	margin-bottom: 72px;
}

.row > div > img {
	width: 100%;
    object-fit: cover;
}


@media (min-width: 1350px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px !important;
}
}

.pic-shadow {
	filter: drop-shadow(1px 7px 20px rgba(0, 0, 0, 0.1));
}

.col-xl-6 {
	padding-bottom: 20px;
}


/***** Tablet  ******/
@media (max-width:768px) {

	/***** Column / Grid ******/
	body {
		margin: 0 70px !important;
		width: auto;
	}

	.mt-176 {
		margin-top: 145px;
	}

}

/***** Mobile ******/
@media (max-width:576px) {

	/***** Column / Grid ******/
	body {
		margin: 0 24px !important;
		width: auto;
	}

	.copyright {
		text-align: left;
		margin-top: 2rem !important;
	}

	.footer-links > div {
		padding-top: 10px;
	}

	#main-menu {
		width: 100%;
		top: -14px;
		padding: 0 20px;
		left: 0px;
	}

	.mt-176 {
		margin-top: 145px;
	}

	.header-pic {
	height: 84vw !important;
}


}